# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tasktify
DB_HOST=localhost
DB_PORT=5433
DB_SSL_MODE=disable
DB_POOL_IDLE=25
DB_MAX_POOL=100
DB_MAX_LIFETIME=300

# Services
APP_NAME=tasktify
APP_MODE=dev
APP_PORT=3000
APP_PREFORK=false
GRPC_PORT=3001
AUTH_SERVICE_ADDR=localhost:3001
TODO_SERVICE_ADDR=localhost:3002

# JWT
JWT_DEFAULT_ALG=FN-DSA-Precomputed-512
JWT_ALLOWED_ALGS=FN-DSA-Precomputed-512
JWT_ISSUER=tasktify
JWT_TOKEN_DURATION=60
